.card {
	text-overflow:ellipsis;
	min-height:15px;
	/*height:15px;*/
	overflow:hidden;
	z-index:10;

	i:hover { 
	  cursor:move;
	}

	.preview {
		display: none;
	}
}


.list, .drag_cont {

	float:right;
	clear:both;
	height:38px;
	margin: 10px;
	overflow: hidden;
	padding:0;
	/*
	background: none;
	margin: 5px;*/
	/*box-shadow: 0 !important;*/
	/*border: none;*/

	&.active {
		border:none;
		float:none;
		position: absolute;
		height:inherit;
		.btn-toolbar {
			display:inline;
			margin: 0 5px;
		}		

		h3 {
			height:100px;
			padding-top: 15px;
			background: #f3f3f3;
			border-radius: 0;
			cursor: inherit;
		}
	}

	&.new {
		.formats {
			display: none;
		}
	}

	background: white;

	ul {
		list-style-type: none; margin: 0px; padding-top: 15px;
		/*background: white;*/
	}

	li {
		list-style-type: none; 
		margin: 0px; 
		padding: 8px;
		line-height: 20px;
		width:100%;
		/*height: 100px;*/

		.text {
			height:1.6em;
			overflow: hidden;
		}
		.preview {
			padding-left: 20px;
			color:#888;
			/*display: none;*/
		}

		i { cursor:move; }

		border-top:1px solid lightgrey;
	}

	h3 {
		display:block;
		/*#border-radius: 5px 5px 0 0;*/
		border-radius:3px;
		background:#e1e1e1;
		border-bottom:#ccc;
		height:26px;
		cursor: pointer;
		box-shadow: 0;

		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

		position:relative;
		//margin:-20px -20px 15px -20px;
		margin-bottom:5px;
		padding:5px 20px;

		.btn-toolbar {
			float:right;
			display:none;
			margin:0;
			/*margin-right:-15px;*/
		}

		&.formatted {
			i.icon-ok {
				display: inherit;
			}
		}

		i.icon-ok {
			float: right;
			font-size: 13px;
			color: #999;
			margin-right: 5px;
			margin-left: 5px;
			display: none;
		}

		span.count {
			font-weight: normal;
			font-size: 13px;
			float: right;
			margin-right: 5px;
			margin-left: 5px;
			color: #999;
			font-style: italic;
		}

		.formats {
			margin-top: 35px;
			bg-color: red;

			.bip_wrapper {
				width:450px;
				float: left;
				clear:both;
				margin:2px 0;
				padding:0;
				font-weight: normal;
				font-size: 13px;

				.best_in_place {
					width: 400px;
				}
			}
		}
	}

	.well {
		margin:5px 15px;
	}

	&.list {
		margin-bottom:0;
		border-radius:0;
		padding-top:0;
	}

	&.btn-wrapper {
		text-align: center;
		margin: 50px 0;
	}
}

.drag_cont {
	height: inherit;
	background: none;
}

.list h3 .best_in_place input {
	width:95%;
}

.list h3 .best_in_place {
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 40%;
}
.list h3 .bip_wrapper i {
	float: left;
	margin-right:5px;
}

.drop-hover h3 {
	background:whitesmoke;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}