.card {
	text-overflow:ellipsis-word;
	min-height:15px;
	height:15px;
	overflow:hidden;
	z-index:10;
}

.ungrouped_cards.well, .group.well {

	padding:0;
	min-height:40px;

	h3 {
		display:block;
		#border-radius: 5px 5px 0 0;
		border-radius:0;
		background:#e1e1e1;
		border-bottom:#ccc;
		min-height:29px;

		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

		position:relative;
		//margin:-20px -20px 15px -20px;
		margin-bottom:5px;
		padding:5px 20px;

		.btn-toolbar {
			float:right;
			display:inline;
			margin:0;
		}
	}

	.well {
		margin:5px 15px;
	}

	&.group, &.ungrouped_cards, &.add_group {
		margin-bottom:0;
		border-radius:0;
		padding-top:0;
	}
}

.group h3 .best_in_place input {
	width:95%;
}

.group h3 .best_in_place {
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 40%;
}
.group h3 i {
	float: left;
	margin-right:5px;
}