- model_class = Deck
%ul.breadcrumb
  %li
    = link_to @deck.handle.name, edit_handle_path(@deck.handle)
    %span.divider /
  %li.active
    %i.icon-edit
    = best_in_place @deck, :title

= render :partial => 'form'

%br
%br

= render 'handles/tables'